.Whole-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px 5%;
}
.moto-txt {
  font-size: 74px;
}
.inner-moto-txt {
  font-size: 60px;
  font-weight: 700;
}
.text-box {
  width: 70%;
  font-size: 21px;
  margin-bottom: 10px;
}
.plane-img {
  height: 91px;
}
.weather-img {
  height: 60px;
  margin-bottom: 40px;
}
.search-box {
  display: flex;
  gap: 15px;
}
.home-search-bar {
  border: solid 1px gray;
  border-radius: 15px;
  border-top-left-radius: 0px;
  padding: 8px 15px;
}
.right-img {
  height: 400px;
}

.card-holder {
    display: flex;
    overflow-x: scroll;
  }